{% extends "Base.html" %}

{% block content %}
    <div class="main">
			
					<strong><a href="{{company.get_absolute_url}}">{{ id.company_name }}</a></strong><br>
					{{id.address}}<br>
					{% if id.logo %}
						<img src="{{ id.logo.url }}"/><br>
					{% endif %}
					
					About {{ id.company_name }}<br>
					{{ id.description }}<br><br>
					
					Job Opening :

					{% for job in id.job_vacancy_set.all %}<br>

						{{job.name}}
						{{job.posted}}
					
					{% endfor %}
					
					
					<!-- Responsibilities: <br>
					{{id.responsibilities|safe}}
					Requirements: <br>
					{{id.requirements|safe}}
					<strong>Company Overview:</strong> <br>
					{{id.company.description}}<br>
					Employee : {{id.company.employee}}<br>
					Benefits : {{id.company.benefit}}<br>
					Bahasa   : {{id.company.bahasa}}<br>
					{{id.job_type }} <br> <br> -->


    </div>

{% endblock %}