<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <title>{% block title %}Kariro{% endblock %}</title> </head>

<body>

	{% block login %}
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
	<li><a href="{% url 'account_logout' %}">Sign Out</a></li>
	{% else %}
	<li><a href="{% url 'account_login' %}">Sign In</a></li>
	<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
	{% endif %}
    {% endblock %}
			
    <div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <h1>Kariro</h1>


            {% endblock %}
			
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>